.contact-form {
  max-width: 500px;
  margin: auto;

  h2 {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 15px;

    input {
      display: block;
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .error {
      color: red;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .container-success-message {
    background-color: green;
    border-radius: 4px;
  }

  .success-message {
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    padding: 8px;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  &__sub-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    input {
      width: 244px !important;
    }
  }
}
