* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f4f7;
  font-family: "Poppins", "Roboto", "Montserrat", "Lato";
  color: #2c3e50;
}

h2 {
  color: #2c3e50;
}

button {
  background-color: #1abc9c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
